<div class="main-container">
  <div class="inner-container">
   <h1 class="text-white mt-5 mb-5"> Invitation Studio</h1>
    <form
      [formGroup]="loginForm"
      class="d-flex flex-column align-items-center w-100"
      style="flex-grow: 1"
      (ngSubmit)="onSubmit()"
    >
      <div class="input mt-5">
        <label class="required">Email</label>
        <input type="email" formControlName="email" />
        @if (loginForm.controls['email'].invalid &&
        loginForm.controls['email'].touched) {

        <div class="text-danger ">Please enter a valid email.</div>
        }
      </div>

      <div class="input mt-3">
        <label class="required">Password</label>
        <input type="password" formControlName="password" />
        @if ( loginForm.controls['password'].invalid &&
        loginForm.controls['password'].touched ) {

        <div class="text-danger">
          Password must be at least 6 characters.
        </div>
        }
      </div>

      <div class="input mt-5">
        <button type="submit" class="primary-btn">Login</button>
      </div>
    </form>

    <div
      class="d-flex flex-column align-items-center w-100 mb-3 justify-content-center text-white"
    >
    <img
    class="company-logo mb-5 mt-5 "
    src="../../../../assets/images/burj-white-logo.webp"
  />
  <div>
      Don't have an account ? &nbsp;<a routerLink="/signup" class="fw-semibold"
        >Sign Up</a
      >
  </div>
    </div>
  </div>
</div>