<div class="landing-page-container">
  <div class="hero-section">
    <h1>Welcome to the Invitation Maker App</h1>
    <p>
      Create beautiful, personalized invitations for any occasion with ease!
    </p>
  </div>

  <div class="buttons-container">
    <div class="button-card">
      <button class="button guest-btn" routerLink="/app/home" (click)="continueAsGuest()">
        Continue as Guest
      </button>
    </div>
    <div class="button-card">
      <button class="button login-btn" routerLink="/login">Login</button>
    </div>
    <div class="button-card">
      <button class="button signup-btn" routerLink="/signup">Signup</button>
    </div>
  </div>

  <div class="features">
    <h2>Why Choose Us?</h2>
    <div class="features-container">
      <div class="feature-card">
        <i class="bi bi-file-earmark-fill" aria-hidden="true"></i>
        <h3>Customizable Templates</h3>
        <p>
          Choose from a wide variety of templates that can be fully customized
          for any occasion.
        </p>
      </div>
      <div class="feature-card">
        <i class="bi bi-image" aria-hidden="true"></i>
        <h3>Easy Photo Editing</h3>
        <p>
          Use intuitive tools to add photos and graphics to your invitations.
        </p>
      </div>
      <div class="feature-card">
        <i class="bi bi-check-circle" aria-hidden="true"></i>
        <h3>Save Favorite Templates</h3>
        <p>Easily save your favorite designs for quick access later.</p>
      </div>
      <div class="feature-card">
        <i class="bi bi-globe" aria-hidden="true"></i>
        <h3>Multi-language Support</h3>
        <p>
          Our app supports multiple languages to cater to a global audience.
        </p>
      </div>
      <div class="feature-card">
        <i class="bi bi-share" aria-hidden="true"></i>
        <h3>Seamless Sharing</h3>
        <p>
          Quickly share your invitations via WhatsApp, email, or other social
          media.
        </p>
      </div>
    </div>
  </div>
</div>
