<div class="footer-container">
  <div class="section" routerLink="/app/home" routerLinkActive="active">
    <i class="bi bi-file-earmark fs-2"></i>
    <i class="bi bi-file-earmark-fill fs-2 fill"></i>
    <div>{{ "templates" | translate }}</div>
  </div>
  <div class="section" routerLink="/app/background" routerLinkActive="active">
    <i class="bi bi-palette fs-2"></i>
    <i class="bi bi-palette-fill fs-2 fill"></i>
    <div>{{ "background" | translate }}</div>
  </div>
  <div
    class="section add-btn"
    routerLink="/app/ratio"
    routerLinkActive="active"
  >
    <i class="bi bi-plus-lg fs-2"></i>
  </div>
  <div class="section" routerLink="/app/my-cards" routerLinkActive="active">
    <i class="bi bi-wallet fs-2"></i>
    <i class="bi bi-wallet-fill fs-2 fill"></i>
    <div>{{ "myCards" | translate }}</div>
  </div>
  <div class="section" routerLink="/app/settings" routerLinkActive="active">
    <i class="bi bi-gear fs-2"></i>
    <i class="bi bi-gear-fill fs-2 fill"></i>
    <div>{{ "settings" | translate }}</div>
  </div>
</div>
